
<%- include('../views/partials/navbar') %>
<h1 class="title text-center">Welcome to the Neighborhood Safety Web App!</h1>
<p class="fw-semibold text-center fs-4">We aim to enhance neighborhood safety and empower the community.</p>

<div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
        <img src="https://images.unsplash.com/photo-1522543558187-768b6df7c25c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 " alt="...">
    </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1474649107449-ea4f014b7e9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://plus.unsplash.com/premium_photo-1681152790486-62ed5ef2055a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row">
    <div class="col-6 offset-3 mt-5">
  <div class="card">
    <div class="card-body">
      <p class="fw-bold fs-4">Our Neighborhood Safety Web App is designed to empower residents with valuable information and resources to enhance safety and security within their community. With a focus on promoting a safe and secure environment, our web app provides a range of features and functionalities that promote awareness, preparedness, and collaboration among residents.</p>

<h1 class="fw-bold fs-4">Key Features of the Neighborhood Safety Web App:<br></h1>

<h1 class="fw-semibold fs-5 mt-3">Incident Reporting:</h1> Residents can easily report incidents or suspicious activities within the neighborhood through the web app. This feature enables residents to contribute to the safety of the community by sharing important information.

Safety Guidelines and Tips: The web app provides comprehensive safety guidelines and tips on various topics, such as personal safety, home security, cyber safety, and emergency preparedness. Users can access valuable resources and educational materials to educate themselves and enhance their safety knowledge.

<h1 class="fw-semibold fs-5 mt-3">Emergency Alerts:</h1> The web app sends real-time emergency alerts and notifications to residents, keeping them informed about critical situations or potential threats in their neighborhood. This feature ensures that residents can stay updated and take appropriate actions when necessary.

<h1 class="fw-semibold fs-5 mt-3">Safety Resources and Contacts:</h1> A dedicated section of the web app provides a directory of important emergency contacts, including local police, fire departments, hospitals, and other essential services. Residents can quickly access these contacts in case of emergencies or to report incidents.

<h1 class="fw-semibold fs-5 mt-3">Neighborhood Watch Program:</h1> The web app supports the establishment and coordination of a neighborhood watch program. Residents can join the program, share updates, and actively participate in promoting safety within their community.<br>

<p class="card-text fs-4"><br>Our Neighborhood Safety Web App aims to create a cohesive and proactive community where residents can actively contribute to maintaining a safe and secure environment. By leveraging technology and providing access to essential information and resources, we strive to empower residents to take control of their safety and foster a sense of collective responsibility. Together, we can build a safer neighborhood for everyone.</p>

<a href="/community/safety" class="btn btn-success m-4">Read safety guidlines</a>
<a href="/community" class="btn btn-info m-4">Past Incidents</a>
    </div>
  </div>
  </div>
  </div>
<%- include('../views/partials/footer') %>

