<%- include('../partials/navbar') %>
<h1 class="title text-center fs-2 text-uppercase mt-4">Here are some quick safety tips and resources to help enhance neighborhood safety:</h1>
<div class="container text-center">
    <div class="row g-2 m-4">
      <div class="col-6">
        <div class="p-3 card"><h2 class="fs-4 fw-semibold">Get to Know Your Neighbors:</h2>
             Build relationships with your neighbor
            s and foster a sense of community. Look out for one another and report any suspicious activities to the authorities.</div>
      </div>
      <div class="col-6">
        <div class="p-3 card"> <h2 class="fs-4 fw-semibold">Secure Your Home:</h2>Install robust locks on doors and windows, use security cameras or alarm 
            systems, and ensure adequate lighting around your property. Regularly check and maintain these security measures.</div>
      </div>
      <div class="col-6">
        <div class="p-3 card"> <h2 class="fs-4 fw-semibold">Create a Neighborhood Watch:</h2>Organize or join a neighborhood watch program to promote safety awareness, share information, and collaborate with local law enforcement.</div>
      </div>
      <div class="col-6">
        <div class="p-3 card"> <h2 class="fs-4 fw-semibold">Maintain Well-Lit Streets:</h2>Advocate for well-lit public areas in your neighborhood. Adequate lighting can deter criminal activities and increase visibility for pedestrians</div>
      </div>
      <div class="col-6">
        <div class="p-3 card"> <h2 class="fs-4 fw-semibold">Emergency Preparedness:</h2>Create an emergency kit with essential supplies, including food, water, medications, and first aid items.Develop an emergency plan for your household, including evacuation routes and designated meeting points.</div>
      </div>
      <div class="col-6">
        <div class="p-3 card"> <h2 class="fs-4 fw-semibold">Cyber Safety:</h2>Use strong, unique passwords for your online accounts.
            Be cautious when sharing personal information online.
            Enable two-factor authentication whenever possible to add an extra layer of security.</div>
      </div>
      <div class="col-6">
        <div class="p-3 card"> <h2 class="fs-4 fw-semibold">Personal Safety:</h2>Avoid isolated areas, especially during late hours.
            Share your plans and whereabouts with someone you trust.
            Learn basic self-defense techniques to enhance your personal safety.</div>
      </div>
      <div class="col-6">
        <div class="p-3 card"> <h2 class="fs-4 fw-semibold">Report Suspicious Activities:</h2>Stay vigilant and report any suspicious activities or individuals to the local authorities.
            Share relevant information with your neighbors to keep everyone informed.</div>
      </div>
    </div>
  </div>
  <h1 class="title text-center">Emergency Contacts:</h1>
  <div class="alert alert-primary p-3 m-5 text-center d-block mx-auto"style="width:40rem;"  role="alert">
    NATIONAL EMERGENCY NUMBER-112
  </div>
  <div class="alert alert-primary p-3 m-5 text-center d-block mx-auto" style="width:40rem;" role="alert">
    POLICE-100
  </div>
  <div class="alert alert-primary p-3 m-5 text-center d-block mx-auto" style="width:40rem;" role="alert">
    FIRE-101
  </div>
  <div class="alert alert-primary p-3 m-5 text-center d-block mx-auto" style="width:40rem;" role="alert">
    AMBULANCE-102
  </div>
  <div class="alert alert-primary p-3 m-5 text-center d-block mx-auto" style="width:40rem;" role="alert">
    Women Helpline-1091
  </div>
  <a href="/" class="btn btn-primary p-3 m-5 text-center d-block mx-auto" style="width:10rem;">Back to home</a>
  <%- include('../partials/footer') %>
